/*Color del Fondo de la pagina y tipo de letra | Color of the page background and font type*/
body {
    background-color: #3D405B;
    font-family: monospace;
    text-transform: uppercase;
}

/*titulo | title*/
h1{
    color: #EDDDD4;
    height: 80px;
    font-size: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Contenedores | Containers*/
.container-div{
    width: 500px;
    height: 300px;
    background-color: #197278;
    border-radius: 15px;
    margin: auto;
    margin-top: 10%;
    box-shadow: #1b2432 0px 0px 40px 0px;
    position: relative;
}

/*Entrada de texto | Text input*/
.container-div__input-entry{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 50px;
    font-size: 25px;
    background-color: #114f53;
    color:  #EDDDD4;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.container-div__input-entry:focus {
    outline: none;
    box-shadow: none;
}

/*Salida de texto | Text output*/
#container-div__input-cipher, #container-div__input-decipher{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 50px;
    top: 120px;
    font-size: 25px;
    background-color: #114f53;
    color:  #EDDDD4;
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*Contenedor rango | Range container*/
.container-div__div {
    position: absolute;
    width: 400px;
    height: 40px;
    left: 50px;
    top: 160px;
    border: none;
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
}
.container-div__div-input{
    -webkit-appearance: none;
    width: 300px;
    height: 20px;
    border-radius: 15px;
    background: #114f53;
}
.container-div__div-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #EDDDD4;
    cursor: pointer;
}
.container-div__div-input::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 0px 15px rgba(237, 221, 212, 0.16);
    transition: 0.3s ease-in-out;
}

/*Texto del rango | Range text*/
#container-div__div-text, #container-div__div-text2 {
    height: 40px;
    width: 40px;
    font-weight: 800;
    font-size: 20px;
    color:  #EDDDD4;
}

/*Boton cifrar y descifrar | Cipher and decipher button*/
.container-div__button-cipher, .container-div__button-decipher{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 175px;
    top: 225px;
    font-size: 20px;
    text-transform: uppercase;
    color: #EDDDD4;
    padding: 5px 10px;
    border-radius: 7px;
    border: 2px solid #EDDDD4;
    background: #E07A5F;
    box-shadow: 3px 3px #EDDDD4;
    cursor: pointer;
}
.container-div__button-cipher:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

/*Boton para cambiar de cifrar a descifrar y de descifrar a cifrar | Button to change from cipher to decipher and from decipher to cipher*/
.container-div__button-change1, .container-div__button-change2{
    position: absolute;
    width: 170px;
    height: 50px;
    left: 165px;
    top: 350px;
    font-size: 20px;
    text-transform: uppercase;
    color: #EDDDD4;
    padding: 5px 10px;
    border-radius: 7px;
    border: 2px solid #EDDDD4;
    background: #81B29A;
    box-shadow: 3px 3px #EDDDD4;
    cursor: pointer;
}
.container-div__button-cipher:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

/*Animacion para mover a la izquierda | Animation to move to the left*/
@keyframes moveleft {
    from {transform: translateX(100%);}
    to {transform: translateX(0);}
}
.move-left {
    animation-name: moveleft;
    animation-duration: 1s;
}

/*Animacion para mover a la derecha | Animation to move to the right*/
@keyframes moveright {
    from {transform: translateX(-100%);}
    to {transform: translateX(0);}
}
.move-right {
    animation-name: moveright;
    animation-duration: 1s;
}